<ion-content>
  <ion-grid class="analog-display">
    <ion-row class="clock">
      <ion-row class="outer-clock-face">
        <ion-row class="marking marking-one"></ion-row>
        <ion-row class="marking marking-two"></ion-row>
        <ion-row class="marking marking-three"></ion-row>
        <ion-row class="marking marking-four"></ion-row>
        <ion-row class="inner-clock-face">
          <ion-row #hourHand class="hand hour-hand"></ion-row>
          <ion-row #minHand class="hand min-hand"></ion-row>
          <ion-row #secondHand class="hand second-hand"></ion-row>
          <ion-row class="center-circle"></ion-row>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>