.digital-clock {
  margin-top: 65%;

  .clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1b1b;
    border: 25px solid var(--ion-color-primary);

    .days {
      font-size: 6px;
      margin-top: 0.5rem;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        color: #ffffff;
      }
    }

    .time {
      font-size: 32px;
      color: #eae5e5;

      .am-pm {
        margin-left: 9px;
      }
    }

    .date {
      font-size: 14px;
      margin-top: 0.5rem;
      color: #eae5e5;
    }
  }
}