ion-menu ion-content {
  --background: var(--ion-color-primary);
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list-header, ion-note, ion-title {
  padding-left: 10px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  margin-bottom: 10px;
  background: var(--ion-color-primary);
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);

  ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
    margin-bottom: 10px;
    color: var(--white);
  }
  
  ion-note {
    color: var(--grayish-white);
  }

  ion-title {
    margin-top: 5px;
    font-size: 14px;
    color: var(--grayish-white);
  }
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  color: var(--white);

  ion-icon {
    margin-right: 10px;
    color: var(--white);
  }
}
