<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ appConfig.appName }}</ion-list-header>
          <ion-note>{{ appConfig.appDescription }}</ion-note>
          <ion-title>V{{ appConfig.appVersion }}</ion-title>
        </ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let menu of sideMenus; let i = index">
          <ion-item lines="none" detail="false" (click)="openMenu(menu.id)">
            <span class="material-icons" slot="start">{{ menu.icon }}</span>
            <ion-label>{{ menu.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
