ion-item {
  --highlight-height: 0;
  border-radius: 16px;
  --background: var(--light-red);
  border: 1px solid var(--info-cyan-blue);
  margin: 15px;

  ion-label, ion-input {
    font-size: 4vw;
    color: var(--white);
    font-weight: bold;
  }

  ion-button {
    height: 32px;
    --background: var(--pale-yellow);
    color: var(--info-cyan-blue);
  }
}

ion-datetime {
  font-size: 16px;
  --border-color: var(--info-cyan-blue);
  --indicator-color: var(--info-cyan-blue);
  --color: var(--white);
  margin: 0 auto;
}

ion-card {
  border: 1px solid var(--info-cyan-blue);
  border-bottom: none;
  margin: 20px 16px;
  border-radius: 16px;
  --background: var(--pale-yellow);

  ion-card-content {
    display: grid;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: 4vw;

    ion-text {
      text-align: center;
      color: var(--dark-400);
    }
  }
}
