<ion-content>
  <ion-item lines="none">
    <ion-label>Enter your DOB</ion-label>
    <ion-input #dateInput appDateFormat [appDateFormat]="'DD-MM-YYYY'" placeholder="DD-MM-YYYY" [maxlength]="10" [(ngModel)]="dob" (ionInput)="onDateChange()"></ion-input>
    <ion-button shape="round" (click)="openDatePicker()">
      <ion-icon slot="icon-only" name="calendar"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card *ngIf="age">
    <ion-card-content>
      <ion-text>Your age is {{ age.years }} years, {{ age.months }} months, {{ age.days }} days.</ion-text>
      <ion-text>Total Days: {{ age.totalDays }} days.</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-modal [isOpen]="isOpen" [initialBreakpoint]="0.57" [breakpoints]="[0, 0.25, 0.5, 0.75]" handle="false" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-datetime
        color="secondary"
        presentation="date"
        show-default-buttons="true"
        show-default-time-label="false"
        [max]="getTodayDate()"
        display-timezone="false"
        (ionChange)="onDatePick($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
